---
---
// Typography
h1, h2, h3, h4, h5, h6  {
    font-family: 'Roboto Slab', serif;
}

h6  {
    font-size: 1.25rem;
}

// html
article {
    min-height: 400px;
}

nav {
    opacity: 0.9;
}

th  {
    color: #b71c1c;
    text-align: center;
}

td  {
    text-align: center;
}

.bold td:first-of-type    {
    font-weight: 800;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #b71c1c;
    color: white;
}

// Materialize overrides
.logo  {
    height: 68px;
}

.side-nav {
    li {
        a   {
            font-size: 1.3rem;
        }
    }
}

.collection-with-header {
    padding: 0.8em;
}

.collapsible-header {
    height: auto;
}
.collapsible-body img {
    //max-height: 124px;
    float: right;
    padding: 1em;
}
.card {
    padding: 0.8em;
    margin: 1rem 0
}

.tab    {
    font-size: 1.5em;
}

.tabs .tab a {
    color: #b71c1c;
}


.valign {
    padding-left: 10%;
}

// Site specific
#map {
    width: auto;
    height: 400px;
    margin-top: 1em;
}

.blur {
  background: rgb(255,255,255); /* for IE */
  background: rgba(255,255,255,0.75);
}

.condensed  {
    line-height: 0.5em;
}

.pad    {
    margin: 0.5em 0.5em;
}

.post-image {
    margin: 0px auto;
    display:block
}

.post   {
    a   {
        color: #b71c1c;
    }
}

.horizontal li  {
    display: inline;
    margin-left: 0.8em;
}

// Forms

  /* label color */
.input-field label {
    color: #b71c1c;
}

label {
    color: #b71c1c;
}

.select-dropdown {
    color: #b71c1c;
}
.dropdown-content .select-dropdown   {
    color: #b71c1c;
}
