---
---
h6  {
    font-size: 1.25rem;
}

article {
    min-height: 400px;
}

.collection-with-header {
    padding: 0.8em;
}

.card {
    padding: 0.8em;
}

.parallax-container  {
    height: 350px;
}

.tab    {
    font-size: 1.5em;
}

.valign {
    padding-left: 10%;
}

#news   {
    background-image: url(/images/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(10%);
    -webkit-filter: sepia(20%);
    height: 350px;
}
