<meta charset="UTF-8">
<title>{{ site.title }}{% if page.title %} | {{ page.title | capitalize }}{% endif %}</title>
<meta name="description" {% if page.description %} content="{{ page.description }}"{% else %}content="{{ site.description }}"{% endif %}>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" {% if page.author %} content="{{ page.author }}" {% else %} content="http://brorarangers.football - @brorarangers" {% endif %}>

<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,600,700,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
