---
layout: default
permalink: /lotto/
title: Cattachs Lotto | Brora Rangers Football Club
description: The Cattachs Lotto
banner: Cattachs Lotto
---
<header>
  <div class="article-title" itemprop="articleBody">
    <h2 itemprop="name headline">Get your game on!</h2>
  {% assign lotto = site.lotto | reverse %}
  {% for draw in lotto limit:1 %}
    {% assign d = draw.date | date: "%-d"  %}
      <p>{{ draw.date | date: "%A" }}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
          {% when '2' or '22' %}{{ d }}<sup>nd</sup>
          {% when '3' or '23' %}{{ d }}<sup>rd</sup>
          {% else %}{{ d }}<sup>th</sup>
        {% endcase %}
        {{ draw.date | date: "%B" }}</p>
  {% endfor %}
  </div>
    <section class="lotto-numbers">
    {% for draw in lotto limit:1 %}
      <ul class="lotto">
        {% for number in draw.numbers %}
        <li class="lotto-ball-big">{{ number }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    </section>
  </header>

  <section class="article-content">
    <p>It's the Cattachs Lotto, pick 5 numbers from 1 to 20 and then keep your fingers crossed.</p>
    {% for draw in lotto limit: 1 %}
    <p>Next week's Jackpot is <strong>£{{ draw.jackpot }}</strong></p>
    {% endfor %}
    <p>The Jackpot is a minimum of £1000.00, with £50.00 added each week the Jackpot goes unclaimed. Match four of the five winning numbers and you can collect our £50.00 Bonus prize.</p>
    <p>Are you ready to get your game on? Download a Standing Order form below, and get ready to get lucky.</p>
    <div class="gimme-space">
    <a class="faux-button" href="/assets/lotto.pdf" target="_blank" onClick="_gaq.push(['_trackPageview','/assets/lotto.pdf']);">Lotto Standing Order</a>
    </div>
  </section>
