---
layout: default
permalink: /squad/
category: 'First Team Squad'
description: The Who's Who for the current Brora Rangers Football Club 1st Team | Get the low down on your favourite players.
---
{% assign squad = site.people | where: 'category', 'current-squad' | sort: 'squad-number' %}
<ul class="grid">
{% for player in squad %}
  <li class="block"><a href="{{ player.url }}">{{ player.title }}</a>
    <ul>
      <li>{{ player.squad-number }}</li>
      {% assign stats = site.reports %}
      {% assign bench-stats = site.reports %}
      {% assign start-counter = 0 %}
      {% for starts in stats %}
        {% for appearance in starts.team %}
        {% if starts.season == site.current-season %}
          {% if player.title == appearance.name %}
            {% assign start-counter = start-counter | plus: 1 %}
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endfor %}
      {% assign subbed-counter = 0 %}
      {% for starts in stats %}
        {% for appearance in starts.team %}
        {% if starts.season == site.current-season %}
          {% if player.title == appearance.replaced-by %}
            {% assign subbed-counter = subbed-counter | plus: 1 %}
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endfor %}
      {% assign bench-counter = 0 %}
      {% for bench in bench-stats %}
        {% for appearance in bench.bench %}
        {% if bench.season == site.current-season %}
          {% if player.title == appearance.name %}
            {% assign bench-counter = bench-counter | plus: 1 %}
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endfor %}
      <li>{{ start-counter | plus: bench-counter }} appearances</li>
    </ul>
  </li>
{% endfor %}
</ul>
