<header class="navigation" role="banner">
  <div class="navigation-wrapper-2">
    <a href="/" class="logo">
      <img src="/images/logos/Rae-Energy.png" alt="Logo Image">
    </a>
    <!--<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu-2">More</a>
    <nav role="navigation">
      <ul id="js-navigation-menu-2" class="navigation-menu show">
        <li class="nav-link"><a href="/news/">Sponsors</a></li>
        <li class="nav-link"><a href="/fixtures">Shop</a></li>
      </ul>
    </nav>-->
</header>
