<article class="card">
    <div class="card-content {{ site.primary_team_colour }}-text">
        <span class="card-title grey-text text-darken-4 center"><h5>Getting Here</h5></span>
        <p class="grey-text text-darken-4">Sitting 100 yards from the A9 on the south of the village, finding us certainly isn't difficult.</p>
        <p class="grey-text text-darken-4">Whether travelling by car, train or bus, let us help you get here.</p>
    </div>
    <div class="card-action">
        <form action="http://maps.google.com/maps" method="get" target="_blank">
        <label class="{{ site.primary_team_colour }}-text text-darken-4" for="saddr">Enter your location</label>
        <input placeholder="Town or Postcode" id="saddr" type="text" name="saddr" class="validate">
        <input type="hidden" name="daddr" value="Dudgeon Park Brora KW9 6QH">
            <button class="center btn waves-effect waves-light {{ site.primary_team_colour }} darken-4" type="submit" name="action">Get Directions</button>
        </form>
    </div>
</article>
