<div class="row {{ site.primary_team_colour }} darken-4 full-height">
    <div class="container">
    <section class="col s12 m6">
        <h6 class="{{ site.secondary_team_colour }}-text">Brora Rangers Football Club</h6>
        <ul>
            <li class="{{ site.secondary_team_colour }}-text">Dudgeon Park Road</li>
            <li class="{{ site.secondary_team_colour }}-text">Brora</li>
            <li class="{{ site.secondary_team_colour }}-text">Sutherland</li>
            <li class="{{ site.secondary_team_colour }}-text">KW9 6QH</li>
        </ul>
        <p class="{{ site.secondary_team_colour }}-text">&#169; {{ site.time | date: '%Y' }}</p>
        <p class="{{ site.secondary_team_colour }}-text">Built with <i class="tiny material-icons">code</i> and <i class="tiny material-icons">favorite_border</i>  by <a class="{{ site.secondary_team_colour }}-text" href="http://digitalfreedom.me">Digital Freedom</a>.</p>
    </section>
        <section class="col s12 m6">

        </section>
    </div>
</div>
