<div class="card medium z-depth-2">
    <div class="waves-effect waves-block waves-light">
        <img class="activator hospitality" height="250" src="/images/merchandise/banner.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><h6><strong>Brora Rangers Merchandise</strong></h6> <i class="hoverable {{ site.primary_team_colour }}-text text-darken-4 mdi-navigation-expand-less medium right"></i></span>
        <p><a class="{{ site.primary_team_colour }}-text text-darken-4" href="/merchandise/">Get kitted out</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h6>Merchandise</h6> <i class="mdi-navigation-close right {{ site.primary_team_colour }}-text text-darken-4"></i></span>
        <p>Support Brora Rangers FC and get kitted out in our range of merchandise.</p>
        <p>From cuff links to scarves, hoodies to keyrings, we've pretty much got you covered.</p>
        <p>Head over to our <a href="/merchandise/" class="{{ site.primary_team_colour }}-text text-darken-4">Merchandise</a> page and see for yourself. You can get your hands on everything at our home matches, through any of our Committee members or at Mowatt Print and Design in Golspie Main Street.</p>
        <p>HAPPY SHOPPING.</p>
    </div>
