{% assign posts = site.posts | where: "section", "match" %}
        {% for post in posts limit: 1 %}
<article class="card medium z-depth-2">
    <div class="waves-effect waves-block waves-light overlay">
        <!--<img class="activator filter" height="250" src="/images/posts/{{ post.url | replace: '/','-' | remove_first: '-' | remove: '.html' }}.jpg">-->
        <img class="activator report" height="250" src="/images/transparent-report.png">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><h6><strong>{{ post.title }}</strong></h6> <i class="hoverable {{ site.primary_team_colour }}-text text-darken-4 mdi-navigation-expand-less medium right"></i></span>
        <p><a href="/results/" class="{{ site.primary_team_colour }}-text text-darken-4">Previous Results</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h6>{{ post.title }}</h6> <i class="mdi-navigation-close right {{ site.primary_team_colour }}-text text-darken-4"></i></span>

            <div>
            {{ post.content | truncatewords: 60 }}
            </div>
        <div>
            <p><a href="{{ post.url }}" class="{{ site.primary_team_colour }}-text text-darken-4">Read the full report</a></p>
        </div>
        {% endfor %}
    </div>
</article>
