<article class="card medium z-depth-2">
    <div class="waves-effect waves-block waves-light overlay">
        <img class="activator hospitality-card" height="250" src="/images/transparent-report.png">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><h6><strong>Match Sponsorship</strong></h6> <i class="hoverable {{ site.primary_team_colour }}-text text-darken-4 mdi-navigation-expand-less medium right"></i></span>
        <p>Simply the best way to enjoy the big game</p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h6>Match Sponsorship</h6> <i class="mdi-navigation-close right {{ site.primary_team_colour }}-text text-darken-4"></i></span>

            <div>
            <p>Meet at 12.30 for drinks with your fellow sponsors followed by a 3 course lunch with wine.</p>
            <p>Entry to the game and a seat in the stand, with refreshments in our Executive Lounge at half time, and drinks after the game until 5:30pm.</p>
            </div>
        <div>
            <p><a href="{{ post.url }}" class="{{ site.primary_team_colour }}-text text-darken-4">Application Form</a></p>
        </div>
    </div>
</article>
