<article id="brit" class="card medium z-depth-2">
    <div class="waves-effect waves-block waves-light center">
        <img class="activator" height="250" src="/images/supporters.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><h6><strong>Supporters' Trust</strong></h6> <i class="hoverable {{ site.primary_team_colour }}-text text-darken-4 mdi-navigation-expand-less medium right"></i></span>
        <p>Invest in your Club</p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h6>Brora Rangers Investment Trust</h6> <i class="mdi-navigation-close right {{ site.primary_team_colour }}-text text-darken-4"></i></span>

            <div>
            <p>Get involved with the new Investment Trust. Run by the Supporters for everyones benefit.</p>
            </div>
        <div>
            <p>Fill in the form below and we'll get in touch with you</p>
            </div>
<div>
    <form class="col s12" action="http://formspree.io/fansbrit@btinternet.com" method="post">
        <div class="row">
        <div class="input-field col s6">
            <input type="hidden" name="_subject" value="BRIT info request from Brora Rangers Website" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value="/thanks/" />
            <input id="first_name" type="text" class="validate" name="First Name" required>
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" name="Last Name" required>
            <label for="last_name">Last Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email" required>
            <label for="email">Email</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="tel" type="tel" class="validate" name="Telephone">
          <label for="tel">Contact telephone number</label>
        </div>
        </div>
        <div class="row">
          <p>We will send details of the Brora Rangers Investment Trust to the above email address. Thank you for your interest.</p>

            <button class="btn waves-effect waves-light {{ site.primary_team_colour }} darken-4" type="submit" name="action">Submit</button>
      </div>

    </form>
</div>
    </div>
</article>
