<article class="z-depth-2">
    {% assign posts = site.posts | where: "subsection", "winners" %}
    <ul class="collection-with-header">
        <li class="collection-header"><h5 class="center"><strong>In It To Win It</strong></h5></li>
    {% for post in posts limit:3 %}
        <li class="collection-item">
            <h6><a href="{{ post.url }}" class="{{ site.primary_team_colour }}-text"><strong>{{ post.title }}</strong> - {{ post.date | date: '%-d %B' }}</a></h6>
            <p class="truncate">{{ post.content | strip_html }}</p>
        </li>
        {% endfor %}
    </ul>
</article>
