// league table stuff

.table  {
  width: 310px;
  margin: 0 auto;
  @include media($first-break)  {
    width: 350px;
    margin: 0 auto;
  }
}

.main-table {
  @extend .table;
  @include media($second-break) {
    @include span-columns(6);
    padding-left: 0.5em;
  }
}

.table-header {
  padding-top: 1em;
  span  {
    position: relative;
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #fff;
    text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
    top: -0.5em;
    left: -1em;
    display: inline-block;
  }
  .sub-header {
    position: relative;
    top: -2.25em;
    left: 6em;
    font-size: 0.75em;
  }
}

.stats {
  $base-spacing: 1em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2 0;
  @include row;
  p {
    margin: 0 0 0.6em 0.6;
    @include media($second-break) {
      //float: left;
    }
  }

  ul {
    //padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  li {
    border-right: 1px solid transparentize($primary-color, 0.2);
    color: $secondary-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.1em;
    padding: 0 0.3em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.6em;
    font-weight: normal;
    text-align: center;
  }
}

// Table for print

.stats, header, img  {
  @media print  {
    display: none;
  }
}

table {
  display: table;
  border-collapse: collapse;
}

td  {
  border-bottom: solid 1px;
}
th  {
  padding: 0.5em;
  border-bottom: solid 3px;
}

tr  {
  text-align: center;
}
td  {
  padding: 0.45em 0;
}
