<footer class="main-footer">
  <section class="sponsor-bar">
    <h4>Website Sponsors</h4>
    <a href="https://broragolfclub.co.uk/" class="logo">
      <img src="/images/logos/brora-golf-club.png" height="60px" alt="Brora Golf Club">
    </a>
    <a href="https://www.sutherlandarmsgarage.com/" class="logo">
      <img src="/images/logos/sutherland-arms-garage.png" height="60px" alt="Sutherland Arms Garage">
    </a>
    <a href="http://www.royalmarinebrora.com/" class="logo">
      <img src="/images/logos/royal-marine.png" height="60px" alt="Royal Marine Hotel">
    </a>
    <a href="http://www.trawlerfishandchips.co.uk/" class="logo">
      <img src="/images/logos/trawler.png" height="60px" alt="Trawler Restaurant">
    </a>
    <a href="http://www.highlandwasteservices.co.uk/" class="logo">
      <img src="/images/logos/highland-waste-services.png" height="60px" alt="Highland Waste Services">
    </a>
  </section>
  <section class="address">
    <ul>
      <li><strong>BRORA RANGERS FC</strong></li>
      <li>Dudgeon Park</li>
      <li>Brora</li>
      <li>Sutherland</li>
      <li>KW9 6QN</li>
    </ul>
  </section>
</footer>
