{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        <div class="hide-on-med-and-up center" style="padding-top: 10%;background-image: url(/images/news-banner.jpg);background-color:#b71c1c;background-blend-mode: screen;background-repeat: no-repeat;background-size: cover;height: 160px;">
    <h3 class="{{ site.primary_team_colour }}-text text-darken-4 blur">{{ page.title | upcase }}</h3>
</div>
<div class="hide-on-large-only hide-on-small-only center" style="padding-top: 12%;background-image: url(/images/news-banner.jpg);background-color:#b71c1c;background-blend-mode: screen;background-repeat: no-repeat;background-size: cover;height: 180px;">
    <h2 class="{{ site.primary_team_colour }}-text text-darken-4 blur">{{ page.title | upcase }}</h2>
</div>
<div class="hide-on-med-and-down center" style="padding-top: 8%;background-image: url(/images/news-banner.jpg);background-color:#b71c1c;background-blend-mode: screen;background-repeat: no-repeat;background-size: cover;height: 300px;">
    <h1 class="{{ site.primary_team_colour }}-text text-darken-4 blur">{{ page.title | upcase }}</h1>
</div>
    </div>
    <div class="container"><h5 class="center-align">All the news, all in the one place.</h5></div>
    <section>{{ content }}</section>
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
    </footer>
</body>
