<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include head/head.html %}
  </head>
  <body>
    {% include navigation/main-nav.html %}
    {% include navigation/secondary-nav.html %}
    <main>{{ content }}</main>
    {% include footers/main-footer.html %}
  </body>
  {% include scripts/vendor/jquery.html %}
  {% if page.layout == 'product' %}
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MDg5ZjIwNzEtOGVkYS00ODUzLTgxYjgtODY1NGVjYzY1OThiNjM2MzI0NDc1ODk0NjYwOTU3" id="snipcart"></script>
  {% endif %}
  <!-- to be updated -->
  <script>
    document.documentElement.className = "js"
$(window).resize(function(){var n=document.getElementById("js-navigation-more");if($(n).length>0){var e=$(window).width(),i=$(n).offset().left,o=e-i;330>o&&($("#js-navigation-more .submenu .submenu").removeClass("fly-out-right"),$("#js-navigation-more .submenu .submenu").addClass("fly-out-left")),o>330&&($("#js-navigation-more .submenu .submenu").removeClass("fly-out-left"),$("#js-navigation-more .submenu .submenu").addClass("fly-out-right"))}}),$(document).ready(function(){var n=$("#js-mobile-menu").unbind();$("#js-navigation-menu").removeClass("show"),n.on("click",function(n){n.preventDefault(),$("#js-navigation-menu").slideToggle(function(){$("#js-navigation-menu").is(":hidden")&&$("#js-navigation-menu").removeAttr("style")})})});
$(window).resize(function(){var n=document.getElementById("js-navigation-more-2");if($(n).length>0){var e=$(window).width(),i=$(n).offset().left,o=e-i;330>o&&($("#js-navigation-more-2 .submenu .submenu").removeClass("fly-out-right"),$("#js-navigation-more-2 .submenu .submenu").addClass("fly-out-left")),o>330&&($("#js-navigation-more-2 .submenu .submenu").removeClass("fly-out-left"),$("#js-navigation-more-2 .submenu .submenu").addClass("fly-out-right"))}}),$(document).ready(function(){var n=$("#js-mobile-menu-2").unbind();$("#js-navigation-menu-2").removeClass("show"),n.on("click",function(n){n.preventDefault(),$("#js-navigation-menu-2").slideToggle(function(){$("#js-navigation-menu-2").is(":hidden")&&$("#js-navigation-menu-2").removeAttr("style")})})});
  </script>
</html>
