{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include banner.html %}
    </div>
    <div class="row">
        <section class="col s12 m4">
            {% include home-news.html %}
        </section>
        <section class="col s12 m4">
            {% include home-reports.html %}
        </section>
        <!--<section class="col s12 m4">
            {% include winners.html %}
        </section>-->
        <section class="col s12 m4">
            {% include home-shop.html %}
        </section>
    </div>
    <div class="row">
        <section class="col s12 m4 offset-m2">
            {% include home-fixtures.html %}
        </section>
        <section class="col s12 m4">
            {% include home-hospitality.html %}
        </section>
    </div>
    <div class="row">
        <section class="col s12 m4">
            {% include home-sponsor-highlight.html %}
        </section>
        <section class="col s12 m4">
            {% include supporter-fund.html %}
        </section>
        <section class="col s12 m4">
            {% include man-in-red.html %}
        </section>
    </div>

</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
        {% include analytics.html %}
    </footer>
</body>
