{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        <h3 class="center">MAIN WEBSITE GRAPHIC</h3>
    </div>
    <div class="row">
        <h5 class="center">MAIN SPONSORS LINKS</h5>
    </div>
    <div class="row">
        <section class="col s12 m4">
            {% include home-news.html %}
        </section>
        <section class="col s12 m4">
            {% include home-reports.html %}
        </section>
        <section class="col s12 m4">
            {% include winners.html %}
        </section>
    </div>
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax"><img src="{{ base.url }}/images/posts/2015-07-27-petrofac_cup.jpg"></div>
    </div>
    <div class="row">
        <section class="col s12 m8 offset-m2">
            {% include home-news.html %}
        </section>
    </div>
</main>
    <footer>
        {% include mainjs.html %}
        <script>
            $(document).ready(function(){
      $('.parallax').parallax();
    });
        </script>
    </footer>
</body>
