{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4 {{ site.primary_team_colour }}-text text-darken-4"><a href="#club"><strong>Club</strong></a></li>
                <li class="tab col s4 {{ site.primary_team_colour }}-text text-darken-4"><a href="#match"><strong>Match</strong></a></li>
                <li class="tab col s4 {{ site.primary_team_colour }}-text text-darken-4"><a href="#events"><strong>Events</strong></a></li>
            </ul>
        </div>
        <div id="club" class="col s12">
    {% assign posts = site.posts | where: "section", "news" %}
            <ul id="club-list" class="container">
                <li><h4><strong>General News</strong></h4></li>
                {% for post in posts limit: 10 %}
                <li>
                    <h5><a class="{{ site.primary_team_colour }}-text text-darken-4" href="{{ post.url }}"><strong> {{ post.title }}</strong></h5>
                        <p class="red-text text-lighten-1">{{ post.date | date: '%-d %B' }}</p></a>
                    <p>{{ post.excerpt | strip_html }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="match" class="col s12">
    {% assign posts = site.posts | where: "section", "match" %}
            <ul class="container">
                <li><h4><strong>Match Reports</strong></h4></li>
                {% for post in posts limit: 10 %}
                <li>
                    <h5><a class=" {{ site.primary_team_colour }}-text text-darken-4" href="{{ post.url }}"><strong> {{ post.title }}</strong></a></h5> {{ post.date | date: '%-d %B' }}
                    <p>{{ post.excerpt | strip_html }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="events" class="col s12">
    {% assign posts = site.posts | where: "section", "event" %}
            <ul class="container">
                <li><h4><strong>Events and Winners</strong></h4></li>
                {% for post in posts limit: 10 %}
                <li>
                    <h5><a class=" {{ site.primary_team_colour }}-text text-darken-4" href="{{ post.url }}"><strong> {{ post.title }}</strong></a></h5> {{ post.date | date: '%-d %B' }}
                    <p>{{ post.excerpt | strip_html }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <section class="container center">
            <a href="/archives/" class="{{ site.primary_team_colour }} darken-4 waves-effect waves-light btn">News Archive</a>
            <p>All our news, all in the one place.</p>
        </section>
    </div>
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
    </footer>
</body>
