{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>
    <div class="row">
        <div class="container">
        <p class="flow-text">Our 2015/16 merchandise has something for everyone, and every pocket.</p>
        <p class="flow-text center-align">Whether you want to be kitted out like the players on Match Day, or would just like a pin badge to add to your collection, everything is on sale both at Dudgeon Park on Match Day, or through the week at Mowatt Print and Design in Golspie.</p>
        <p class="flow-text center-align {{ site.primary_team_colour }}-text text-darken-4">If you have any questions, please get in touch with our Merchandise Team here and they will do their best to help you.</p>
        </div>
    </div>
    <div class="row">
    <div class="container col s12 m6 offset-m3">
        <section class="center">
            <img class="materialboxed responsive-img center" src="/images/merchandise/all-items.jpg">
        <p class="flow-text center-align hide-on-small-only">Click on the images for a better view</p>
        </section>
    </div>


    </div>

    <div class="row">
        <h2 class="center-align {{ site.primary_team_colour }}-text text-darken-4">Club Kit and Clothing</h2>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/home-jersey.jpg">
            <p class="flow-text center-align">Brora Rangers Home Jersey</p>
            <p class="flow-text center-align"><strong>Youth - £35.00. Adult - £40.00</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/training-top.jpg">
            <p class="flow-text center-align">Brora Rangers Training Top</p>
            <p class="flow-text center-align"><strong>£50.00</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/tracksuit-top.jpg">
            <p class="flow-text center-align">Brora Rangers Tracksuit Top</p>
            <p class="flow-text center-align"><strong>£40.00</strong></p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/polo-top.jpg">
            <p class="flow-text center-align">Brora Rangers Polo Top</p>
            <p class="flow-text center-align"><strong>£30.00</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/beanie.jpg">
            <p class="flow-text center-align">Brora Rangers Beanie Hat</p>
            <p class="flow-text center-align"><strong>£10.00</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/scarf.jpg">
            <p class="flow-text center-align">Brora Rangers Scarf</p>
            <p class="flow-text center-align"><strong>£7.00</strong></p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/hoodie.jpg">
            <p class="flow-text center-align">Brora Rangers Hoodie</p>
            <p class="flow-text center-align"><strong>£30.00</strong></p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/mug.jpg">
            <p class="flow-text center-align">Brora Rangers Mug</p>
            <p class="flow-text center-align"><strong>£7.50</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/cufflinks.jpg">
            <p class="flow-text center-align">Brora Rangers Cuff Links</p>
            <p class="flow-text center-align"><strong>£12.99</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/keyring.jpg">
            <p class="flow-text center-align">Brora Rangers Keyring</p>
            <p class="flow-text center-align"><strong>£5.00</strong></p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m4 offset-m2">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/calendar.jpg">
            <p class="flow-text center-align">Brora Rangers Calendar</p>
            <p class="flow-text center-align"><strong>£7.50</strong></p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/pin-badge.jpg">
            <p class="flow-text center-align">Brora Rangers Pin Badge</p>
            <p class="flow-text center-align"><strong>£3.00</strong></p>
        </section>
    </div>
    <div class="row">
    <div class="container col s12 m5 offset-m1">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/window-sticker.jpg">
            <p class="flow-text center-align">Brora Rangers Window Sticker</p>
            <p class="flow-text center-align"><strong>£6.00</strong></p>
        </section>
    </div>
    <div class="container col s12 m5">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/bottle.jpg">
            <p class="flow-text center-align">Brora Rangers Bottle</p>
            <p class="flow-text center-align"><strong>£9.99</strong></p>
        </section>
    </div>
    </div>
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
        {% include analytics.html %}
    </footer>



</body>
