{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>
    <div class="row">
        <div class="container">
        <p class="flow-text">Our online shop is on it's way. Whilst we build it, have a look through our merchandise.</p>
        <p class="flow-text center-align {{ site.primary_team_colour }}-text text-darken-4">With Christmas on its way, we have a new range of items perfect for a stocking filler for your favourite Brora Rangers fan.</p>
        </div>
    </div>
    <div class="row">
    <div class="container col s12 m6 offset-m3">
        <section class="center">
            <img class="materialboxed responsive-img center" src="/images/merchandise/all-items.jpg">
            <p class="flow-text">Everything here is on sale at Dudgeon Park on match days or from <a href="https://www.facebook.com/mowatprintanddesign/">Mowatt Print & Design</a> in Golspie</p>
        <p class="flow-text center-align hide-on-small-only">Click on the images for a better view</p>
            <h2 class="center-align {{ site.primary_team_colour }}-text text-darken-4">Christmas Gifts</h2>
        </section>
    </div>


    </div>
    <div class="row">
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/mug.jpg">
            <p class="flow-text center-align">Brora Rangers Mug</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/cufflinks.jpg">
            <p class="flow-text center-align">Brora Rangers Cuff Links</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/keyring.jpg">
            <p class="flow-text center-align">Brora Rangers Keyring</p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/calendar.jpg">
            <p class="flow-text center-align">Brora Rangers Calendar</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/pin-badge.jpg">
            <p class="flow-text center-align">Brora Rangers Pin Badge</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/christmas-cards.jpg">
            <p class="flow-text center-align">Brora Rangers Christmas Cards</p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m5 offset-m1">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/window-sticker.jpg">
            <p class="flow-text center-align">Brora Rangers Window Sticker</p>
        </section>
    </div>
    <div class="container col s12 m5">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/bottle.jpg">
            <p class="flow-text center-align">Brora Rangers Bottle</p>
        </section>
    </div>
    </div>
    <div class="row">
        <h2 class="center-align {{ site.primary_team_colour }}-text text-darken-4">Club Kit and Clothing</h2>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/home-jersey.jpg">
            <p class="flow-text center-align">Brora Rangers Home Jersey</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/training-top.jpg">
            <p class="flow-text center-align">Brora Rangers Training Top</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/tracksuit-top.jpg">
            <p class="flow-text center-align">Brora Rangers Tracksuit Top</p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/polo-top.jpg">
            <p class="flow-text center-align">Brora Rangers Polo Top</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/beanie.jpg">
            <p class="flow-text center-align">Brora Rangers Beanie Hat</p>
        </section>
    </div>
    <div class="container col s12 m4">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/scarf.jpg">
            <p class="flow-text center-align">Brora Rangers Scarf</p>
        </section>
    </div>
    </div>
    <div class="row">
    <div class="container">
        <section class="center">
            <img class="materialboxed" width="300" src="/images/merchandise/hoodie.jpg">
            <p class="flow-text center-align">Brora Rangers Hoodie</p>
        </section>
    </div>
    </div>
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
        {% include analytics.html %}
    </footer>



</body>
