{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    {% if page.sub-section == 'sponsor' %}
    <div class="row">
        <div class="container">
            <h6>Brora Rangers Sponsor Highlight</h6>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="center"><h3>{{ page.title }}</h3></div>
    </div>
    {% if page.title contains 'Lotto' %}
    <div class="row">
        <div class="container">
            <h6>The Cattachs Lotto is drawn every Sunday .... details of prize fund and where to buy tickets</h6>
        </div>
    </div>
    {% elsif page.title contains '50/50' %}
    <div class="row">
        <div class="container">
            <h6>Get your 50/50 Half Time Draw tickets at the gate at all our home games.</h6>
        </div>
    </div>
    {% elsif page.title contains 'Boardroom Raffle' %}
    <div class="row">
        <div class="container">
            <h6>If you are one of our <a class="{{ site.primary_team_colour }}-text text-darken-4" href="/hospitality/">Gold Card Members</a> you can enter our Boardroom Raffle for a bottle of whisky at all our home games.</h6>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="container flow-text">
        {{ page.excerpt }}
        </div>
    </div>
    {% if page.image %}
    <div class="row">
        <div class="container center">
            <img class="responsive-img" height="300" src="/images/posts/{{ page.url | replace: '/','-' | remove_first: '-' | remove: '.html' }}.jpg"></div>
        </div>
    {% endif %}
    <div class="row">
        <div class="container">
        {{ content | remove: page.excerpt }}
        </div>
    </div>
    <div class="row">
        <div class="container">
        <h6 class="grey-text text-lighten-1 right-align">Posted on {{ page.date | date: '%-d %B' }}</h6>
        </div>
    </div>

</main>
<footer>
    <div class="row">
    <div class="container">
        <div class="col s6">
        {% if page.previous.url %}
            <a class="left-align {{ site.primary_team_colour }}-text text-darken-4" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            <p class="grey-text text-lighten-1">{{ page.previous.date | date: '%-d %B' }}</p>
        {% endif %}
        </div>
        <div class="col s6 right-align">
        {% if page.next.url %}
            <a class="{{ site.primary_team_colour }}-text text-darken-4" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            <p class="grey-text text-lighten-1">{{ page.next.date | date: '%-d %B' }}</p>
        {% endif %}
        </div>
    </div>
    </div>
    <div class="row">
        <div class="container center">
            <a href="/news/#{{ page.section }}" class="{{ site.primary_team_colour }} darken-4 waves-effect waves-light btn">Back to News</a>
        </div>
    </div>

    {% include mainjs.html %}
</footer>
</body>
