---
layout: default
---

{% comment %}
Changed to line below to allow linking back to previous seasons' reports
{% assign fixtures = site.data.fixtures | where: "season", site.current-season %}
{% endcomment %}

{% assign fixtures = site.data.fixtures %}

{% assign date = page.date | date: '%d-%m-%Y' %}
{% for matches in fixtures %}
  {% for details in matches.fixtures %}
  {% if date == details.date %}
  {% capture competition %}{{ details.competition }}{% endcapture %}
    {% if details.home-team == "Brora Rangers" %}
      {% capture opposition %}{{ details.away-team }}{% endcapture %}
      {% capture home %}{{ details.home-team }}{% endcapture %}
    {% else %}
      {% capture opposition %}{{ details.home-team }}{% endcapture %}
      {% capture away %}{{ details.away-team }}{% endcapture %}
    {% endif %}
<article class="article-wrapper" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="article-title" itemprop="articleBody">
      <h1 itemprop="name headline">
        {% if page.headline %}
        {{ page.headline }}
        {% elsif details.home-team == "Brora Rangers" %}

        {% else %}

        {% endif %}
      </h1>
    </div>
    {% if page.image %}
    <div class="article-image">
      <img class="feature-image"
        src="/images/articles/{{ page.url }} | remove_first: '/' | replace: '/', '-' }}-large.jpg"
        alt="{{ page.description }}"
        srcset="
        /images/articles/{{ page.url | remove_first: '/' | replace: '/', '-' }}large.jpg 768w,
        /images/articles/{{ page.url| remove_first: '/' | replace: '/', '-' }}med.jpg 380w,
        /images/articles/{{ page.url| remove_first: '/' | replace: '/', '-' }}small.jpg 425w"
      sizes="
        (min-width: 31.25em) 50vw, (min-width: 63.50em) 33vw, 85vw">
    {% else %}

    {% endif %}
    </div>
    <section class="report-image">
    <ul class="">
      <br>
      <li class="scoreline"><img src="/images/logos/{{ details.home-team | replace: ' ', '-' }}.png" height="68px">
      <span class="home-score">{{ details.home-score }}</span>&nbsp&nbsp&nbsp<span class="away-score">{{ details.away-score }}</span>
      <img src="/images/logos/{{ details.away-team | replace: ' ', '-' }}.png" height="68px"></li>
    </ul>
  </section>
  {% endif %}
  {% endfor %}
{% endfor %}
  <div class="match-excerpt">
      {% assign d = page.date | date: "%-d"  %}
        <p>{{ date | date: "%A" }}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th
        {% endcase %}
        {{ date | date: "%B" }}</p>
        <p><small>{{ competition }}</small></p>
    </div>
    <div class="article-excerpt">
      {% assign excerpt = page.excerpt | strip_newlines %}
      {% unless excerpt == null %}
        {{ page.excerpt }}
      {% endunless %}
      {% if excerpt == '' %}
        {% if home-game %}
      <p></p>
        {% else %}
      <p></p>
        {% endif %}
      {% endif %}
    </div>
  </header>
  <section class="article-content">
    {{ content | remove: page.excerpt }}
  </section>
</article>
{% if page.team %}
<section class="additional-info">
  <div class="section-header">
    <h3>Match Stats</h3>
  </div>
  <ul class="team-line">
    <h4>Starting line-up</h4>
{% for player in page.team %}
  <li>{{ player.name }}{% if player.replaced-by %} ({{ player.replaced-by }}) {% endif %}</li>
{% endfor %}
  </ul>
  <ul class="team-line">
    <h4>Bench</h4>
{% for player in page.bench %}
  <li>{{ player.name }}</li>
{% endfor %}
  </ul>
  <div class="scorers">
  {% if home == 'Brora Rangers' %}
  <ul class="team-line">
    {% for scorer in page.home-goals limit: 1 %}
    {% if scorer.name %}
    <h4>Brora Goal Scorers</h4>
    {% endif %}
    {% endfor %}
    {% for scorer in page.home-goals %}
    <li>
      {% if scorer.name %}
      {{ scorer.name }}
      {% for times in scorer.goal-times %}
        ({{ times.time }})
      {% endfor %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% elsif away == 'Brora Rangers' %}
  <ul class="team-line">
    {% for scorer in page.away-goals limit: 1 %}
    {% if scorer.name %}
    <h4>Brora Goal Scorers</h4>
    {% endif %}
    {% endfor %}
    {% for scorer in page.away-goals %}
    <li>
      {% if scorer.name %}
      {{ scorer.name }}
      {% for times in scorer.goal-times %}
        ({{ times.time }})
      {% endfor %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
  <div class="scorers">
  <ul class="team-line">
  {% for caution in page.brora-yellows limit: 1 %}
  {% if caution.name %}
    <h4>Brora Cautions</h4>
  {% endif %}
  {% endfor %}
  {% for caution in page.brora-yellows %}
  {% if caution.name %}
    <li>{{ caution.name }}</li>
  {% endif %}
  {% endfor %}
  </ul>
  </div>
  <div class="scorers">
  <ul class="team-line">
  {% for reds in page.brora-reds limit: 1 %}
  {% if reds.name %}
    <h4>Brora Reds</h4>
  {% endif %}
  {% endfor %}
  {% for reds in page.brora-reds %}
  {% if reds.name %}
    <li>{{ reds.name }}</li>
  {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>
{% endif %}
<section class="page-footer">

</section>
