{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>

    <div class="row">
    <div class="container">
        <div class="col s6">
            <div>
                <ul class="collection">
                    {% for player in site.data.first-team %}
                    <li class="collection-item avatar">
                        <img src="/images/first_team/joe-malin.jpg" alt="" class="circle">
                    <span class="title">{{ player.First_Name }} {{ player.Last_Name }}</span>
      <p>{{ player.Bio }}  <br>
         Second Line
      </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}

        <script>
        $(document).ready(function(){

                $(".button-collapse").sideNav();
                $('.modal-trigger').leanModal();
            });
        </script>
    </footer>
</body>
