{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>

    <div class="row">
    <div class="container">
        <div class="col s12">
            <div>
                <ul class="collapsible popout" data-collapsible="accordion">
                    {% for player in site.data.first-team %}
                    <li>
                        <div class="collapsible-header">
                        <h6 class="collapsible-header">{{ player.First_Name }} {{ player.Last_Name }}</h6>
                        </div>
                        <div class="collapsible-body">
                        <img src="/images/first_team/{{ player.First_Name }}-{{player.Last_Name }}.jpg" alt="">
                            <p>{{ player.Bio1 }}</p>
                            <p>{{ player.Bio2 }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}

        <script>
        $(document).ready(function(){

                $(".button-collapse").sideNav();
                $('.modal-trigger').leanModal();
            });
        </script>
    </footer>
</body>
