{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>
    <div class="row">
        <div class="container">
        <p class="flow-text">Welcome to our Online Shop. Have a look through our merchandise, add whatever you fancy to your basket and then head over to the Checkout to pay by Debit / Credit card or a PayPal account.</p>
        </div>
    </div>
    <div class="row">
    <div class="container col s12 m4 card medium">
        <section class="card-image">
            <img class="activator" width="210" src="/images/merchandise/replica.jpg">
        </section>
         <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><h6><strong>Replica Kit</strong></h6><i class="hoverable {{ site.primary_team_colour }}-text text-darken-4 mdi-navigation-expand-less medium right"></i></span>
            <p>Kit yourself out in the home and away shirts.</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Replica Kit<i class="material-icons right">close</i></span>

        <ul id="replica">

            <script id="replica-template" type="text/x-handlebars-template">
                <li class="simpleCart_shelfItem">
                    {% raw %}<h6 class="item_name"> {{cells.Item}} {{cells.Size}}</h6>
                    <a href="/images/merchandise/{{cells.Item}}.jpg" data-lightbox="{{cells.Item}}">
                    <img width="64" src="/images/merchandise/{{cells.Item}}.jpg"></a>
                    <span class="item_price"><h5>£{{cells.Price}}</h5><a class="flow-text item_add" href="javascript:;"> Add to Basket </a></span><br>{% endraw %}
                    <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span><a class="{{ site.primary_team_colour }}-text text-darken-4" href="/basket/"> View Basket</a>
                    <div class="divider"></div>
                </li>
            </script>

        </ul>
        </div>
    </div>
    </div>
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
        {% include simplecartjs.html %}
        {% include analytics.html %}
    </footer>
    <script src="/js/bin/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sheetrock/1.0.0/dist/sheetrock.min.js"></script>
    <!-- Load Handlebars.js from CloudFlare’s CDN. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>
    <script>
        // Define spreadsheet URL.
        var merch = '{{ site.merchandise }}';
        // Compile the Handlebars template for HR leaders.
var replicaTemplate = Handlebars.compile($('#replica-template').html());

        // Load top five Jackets.
            $('#replica').sheetrock({
                url: merch,
                query: "select B,D,E where A = 'Replica Kit' and G > 1 ",
                rowTemplate: replicaTemplate
            });
    </script>


<script>
  simpleCart({
    checkout: {
      type: "PayPal",
      email: "you@yours.com"
    }
  });
    simpleCart.currency( "GBP" );
</script>

    <script>
    lightbox.option({
      'resizeDuration': 200,
      'showImageNumberLabel': false
    })
</script>

</body>
