{% include head.html %}
<body>
    <header  class="navbar-fixed">{% include nav.html %}</header>
<main>
    <div class="row">
        {% include sub-banner.html %}
    </div>
    <div class="row">
        {% for player in site.data.first-team %}
        <div class="col s12 hide-on-med-and-up">
            <div>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header center">
                        <img src="/images/first_team/{{ player.First_Name }}-{{player.Last_Name }}.jpg" alt="{{ player.First_Name }} {{player.Last_Name }}" style="float:left;" height="70" class=" pad z-depth-2 circle">
                        <h6 class="{{ site.primary_team_colour }}-text text-darken-4">{{ player.First_Name }} {{ player.Last_Name }}</h6>
                            <p class="condensed flow-text"><strong>Appearances: {{ player.Total_Appearances }}</strong></p>
                        </div>
                        <div class="collapsible-body {{ site.primary_team_colour }} darken-4">
                            <p class="flow-text {{ site.secondary_team_colour }}-text">{{ player.Bio1 }}</p>
                            <img src="/images/first_team/{{ player.First_Name }}-{{player.Last_Name }}-action.jpg" alt="" height="200" >
        <div class="divider"></div>
            <ul class="container">
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Starts > '0' %}{{ player.Starts }} Starts{% endif %}</li>
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Subs > '0' %}{{ player.Subs }} Subs{% endif %}</li>
                        {% if player.Position == "Goal" %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Total_Goals > '0' %}{{ player.Total_Goals }} Goals conceded{% endif %}</li>
                        {% else %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Total_Goals > '0' %}{{ player.Total_Goals }} Goals scored{% endif %}</li>
                        {% endif %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Yellow > '0' %}{{ player.Yellow }} Yellow{% endif %}</li>
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Red > '0' %}{{ player.Red }} Red{% endif %}</li>
            </ul>
        <div class="divider"></div>
                            <p class="{{ site.secondary_team_colour }}-text">{{ player.Bio2 }}</p>
                        {% if player.Sponsor %}
                            <p class="{{ site.secondary_team_colour }}-text">{{ player.First_Name }} is sponsored by {{ player.Sponsor }}</p>
                        {% else %}
                            <p class="{{ site.secondary_team_colour }}-text">Available to sponsor</p>
                        {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <!-- Tablet display -->
    <div class="row">
        <div class="col m12 hide-on-small-only">
            <ul class="collapsible popout" data-collapsible="accordion">

                <li>
                    <div class="collapsible-header">
                        <img src="/images/first_team/{{ player.First_Name }}-{{player.Last_Name }}.jpg" alt="{{ player.First_Name }} {{player.Last_Name }}" style="float:left;" height="70" class=" pad z-depth-2 circle">
                        <h5 class="{{ site.primary_team_colour }}-text text-darken-4">{{ player.First_Name }} {{ player.Last_Name }}<span style="font-size:0.7em;float:right;">{{ player.Total_Appearances }} appearances this season</span> </h5>
                        <p class="{{ site.primary_team_colour }}-text text-darken-4 condensed">{% if player.Sponsor %}Sponsored by {{ player.Sponsor }}{% else %}Available to Sponsor{% endif %}</p>
                    </div>
                    <div class="collapsible-body {{ site.primary_team_colour }} darken-4">
                        <p class="flow-text {{ site.secondary_team_colour }}-text">{{ player.Bio1 }}</p>
                        <img src="/images/first_team/{{ player.First_Name }}-{{player.Last_Name }}-action.jpg" alt="" height="300" >
        <div class="divider"></div>
            <ul class="container">
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Starts > '0' %}{{ player.Starts }} Starts{% endif %}</li>
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Subs > '0' %}{{ player.Subs }} Subs{% endif %}</li>
                        {% if player.Position == "Goal" %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Total_Goals > '0' %}{{ player.Total_Goals }} Goals conceded{% endif %}</li>
                        {% else %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Total_Goals > '0' %}{{ player.Total_Goals }} Goals scored{% endif %}</li>
                        {% endif %}
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Yellow > '0' %}{{ player.Yellow }} Yellow{% endif %}</li>
                <li class="{{ site.secondary_team_colour }}-text">{% if player.Red > '0' %}{{ player.Red }} Red{% endif %}</li>
            </ul>
        <div class="divider"></div>
                            <p class="{{ site.secondary_team_colour }}-text">{{ player.Bio2 }}</p>
                        {% if player.Sponsor %}
                            <p class="{{ site.secondary_team_colour }}-text">{{ player.First_Name }} is sponsored by {{ player.Sponsor }}</p>
                        {% else %}
                            <p class="{{ site.secondary_team_colour }}-text">Available to sponsor</p>
                        {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
                {% endfor %}
</main>
    <footer>
        {% include footer.html %}
        {% include mainjs.html %}
    </footer>
</body>
